[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 11.0

[submodule "trixo/odoo-argentina"]
	path = trixo/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 11.0

[submodule "odoo-argentina/l10n_ar_account"]
	path = odoo-argentina/l10n_ar_account
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 11.0

[submodule "odoo-argentina/l10n_ar_afipws"]
	path = odoo-argentina/l10n_ar_afipws
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 11.0
